<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haarman.listviewanimations"
    android:versionCode="12"
    android:versionName="1.9" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.haarman.listviewanimations.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.haarman.listviewanimations.animationinexamples.AnimationInExamplesActivity" />
        <activity android:name="com.haarman.listviewanimations.animationinexamples.SwingBottomInActivity" />
        <activity android:name="com.haarman.listviewanimations.animationinexamples.SwingBottomRightInActivity" />
        <activity android:name="com.haarman.listviewanimations.animationinexamples.SwingLeftInActivity" />
        <activity android:name="com.haarman.listviewanimations.animationinexamples.SwingRightInActivity" />
        <activity android:name="com.haarman.listviewanimations.animationinexamples.ScaleInActivity" />
        <activity android:name="com.haarman.listviewanimations.GoogleCardsActivity" />
        <activity android:name="com.haarman.listviewanimations.itemmanipulationexamples.contextualundo.ContextualUndoActivity" />
        <activity android:name="com.haarman.listviewanimations.itemmanipulationexamples.ItemManipulationsExamplesActivity" />
        <activity android:name="com.haarman.listviewanimations.itemmanipulationexamples.SwipeDismissActivity" />
        <activity android:name="com.haarman.listviewanimations.itemmanipulationexamples.AnimateDismissActivity" />
    </application>

</manifest>