<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haarman.listviewanimations"
    android:versionCode="6"
    android:versionName="1.4" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.haarman.listviewanimations.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.haarman.listviewanimations.swinginexamples.SwingInExamplesActivity" />
        <activity android:name="com.haarman.listviewanimations.swinginexamples.SwingBottomInActivity" />
        <activity android:name="com.haarman.listviewanimations.swinginexamples.SwingLeftInActivity" />
        <activity android:name="com.haarman.listviewanimations.swinginexamples.SwingRightInActivity" />
        <activity android:name="com.haarman.listviewanimations.swinginexamples.GoogleCardsActivity" />
        <activity android:name="com.haarman.listviewanimations.itemmanipulationexamples.ItemManipulationsExamplesActivity" />
        <activity android:name="com.haarman.listviewanimations.itemmanipulationexamples.SwipeDismissActivity" />
    </application>

</manifest>