<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haarman.listviewanimations"
    android:versionCode="201311071"
    android:versionName="2.5.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.haarman.listviewanimations.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.haarman.listviewanimations.appearanceexamples.AppearanceExamplesActivity"
            android:label="@string/appearance" />
        <activity
            android:name="com.haarman.listviewanimations.GoogleCardsActivity"
            android:label="@string/googlecards" />
        <activity
            android:name="com.haarman.listviewanimations.itemmanipulationexamples.ItemManipulationsExamplesActivity"
            android:label="@string/itemmanipulation" />
        <activity
            android:name="com.haarman.listviewanimations.itemmanipulationexamples.DragAndDropActivity"
            android:label="@string/draganddrop" />
        <activity
            android:name="com.haarman.listviewanimations.itemmanipulationexamples.SwipeDismissActivity"
            android:label="@string/swipedismiss" />
        <activity
            android:name="com.haarman.listviewanimations.itemmanipulationexamples.AnimateDismissActivity"
            android:label="@string/animateremoval" />
        <activity
            android:name="com.haarman.listviewanimations.GridViewActivity"
            android:label="@string/gridviewexample" />
        <activity
            android:name="com.haarman.listviewanimations.itemmanipulationexamples.ExpandableListItemActivity"
            android:label="@string/expandablelistitemadapter" />
    </application>

</manifest>