<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haarman.listviewanimations">

    <uses-permission android:name="com.android.vending.BILLING" />
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name="com.haarman.listviewanimations.itemmanipulation.DragAndDropActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.haarman.listviewanimations.appearance.AppearanceExamplesActivity"
            android:label="@string/appearance" />
        <activity
            android:name=".googlecards.GoogleCardsActivity"
            android:label="@string/googlecards" />
        <activity
            android:name="com.haarman.listviewanimations.itemmanipulation.ItemManipulationsExamplesActivity"
            android:label="@string/itemmanipulation" />
        <!--<activity-->
            <!--android:name="com.haarman.listviewanimations.itemmanipulation.DragAndDropActivity"-->
            <!--android:label="@string/draganddrop" />-->
        <activity
            android:name="com.haarman.listviewanimations.itemmanipulation.SwipeDismissActivity"
            android:label="@string/swipedismiss" />
        <activity
            android:name="com.haarman.listviewanimations.itemmanipulation.AnimateAdditionActivity"
            android:label="@string/animateaddition" />
        <activity
            android:name=".gridview.GridViewActivity"
            android:label="@string/gridviewexample" />
        <activity
            android:name=".itemmanipulation.expandablelistitems.ExpandableListItemActivity"
            android:label="@string/expandablelistitemadapter" />
        <activity
            android:name=".StickyListHeadersActivity"
            android:label="@string/stickylistheaders" />
    </application>

</manifest>